@font-face {
    font-family: 'Refrigerator Deluxe';
    src: url('RefrigeratorDeluxe-Heavy.woff2') format('woff2'),
        url('RefrigeratorDeluxe-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

