@media only screen and (max-width: $desktop) {
    .warper {
        --warperMarginTB: 12px;
        --warperMarginLR: 14px;
        --gridGap: 12px;
    }
}
@media only screen and (min-width: $desktop) {
    .warper {
        --warperMarginTB: 10px;
        --warperMarginLR: 52px;
        --gridCols: auto auto auto auto auto auto auto;
        --gridGap: 12px;
    }
}

@media only screen and (max-width: 1400px) {
    .warper {
        --gridCols: auto auto auto auto auto auto;
    }
}

@media only screen and (max-width: 1140px) {
    .warper {
        --gridCols: auto auto auto auto auto;
    }
}

@media only screen and (max-width: 960px) {
    .warper {
        --gridCols: auto auto auto auto;
    }
}
@media only screen and (max-width: 780px) {
    .warper {
        --gridCols: auto auto auto;
    }
}

@media only screen and (max-width: 600px) {
    .warper {
        --gridCols: auto auto;
        --gridGap: 8px;
    }
}

.warper {
    --gameItemBoxW: 170px;
    --gameItemBoxH: 106px;
    --imagesRatio: 16/14;
    --gameInfoBarBgColor: #1d2129;
    --gameInfoBarH: 29px;
    --gameInfoFontColor: #e6f1ff;
    --gameInfoBarFontLP: 10px;
    --gameInfoFontSize: 12px;
    --gameInfoFontWeight: 500;
    --gamePlayButtonsTextColor: #E6F1FF;
    --gamePlayPlayButtonColor: #0074FA;
    --gamePlayBarH: 32px;

    margin: var(--warperMarginTB) var(--warperMarginLR);
    width: auto;    
    &-games {
        ul {
            display: grid;
            grid-template-columns: var(--gridCols);
            grid-gap: var(--gridGap);

            #myLoader{
                display: none;
            }

            li {
                grid-column-end: span 1;
                grid-row-end: span 1;                
                min-width: var(--gameItemBoxW);
                aspect-ratio: var(--imagesRatio);
                position: relative;
                overflow: hidden;
                border-radius: 10px;
                &:first-child {
                    min-width: calc(((var(--gameItemBoxW) * 2) + (var(--gridGap) * 2)) - 9px);
                    grid-column-end: span 2;
                    grid-row-end: span 2;
                    border-radius: 0px 0px 10px 10px;
                }
                &:hover{
                    cursor: pointer;
                    .gamePlay {
                        bottom: 0; 
                        opacity: 1;
                    }
                }
                figure {
                    display: block;
                    width: 100%;
                    height: calc(100% - var(--gameInfoBarH));
                    background-size: cover;
                    background-position: center center;
                    // margin-top: calc(-0.9 * var(--gameInfoBarH));
                }
                .gameInfo {                    
                    position: absolute;
                    bottom: 0;
                    height: var(--gameInfoBarH);
                    line-height: var(--gameInfoBarH);
                    width: 100%;
                    background-color: var(--gameInfoBarBgColor);                    
                    z-index: 10;
                    padding-left: var(--gameInfoBarFontLP);
                    span{
                        display: block;
                        position: relative;
                        color: var(--gameInfoFontColor);
                        font-family: $generalFont;
                        font-size: var(--gameInfoFontSize);
                        font-weight: var(--gameInfoFontWeight);
                        opacity: 0.8;
                        &::after{
                            display: block;
                            content: "";
                            width: var(--gameInfoBarH);
                            height: var(--gameInfoBarH);
                            position: absolute;
                            top: 0;
                            right: 10px;
                            background: url(../images/icons/star.svg) center center no-repeat;
                            background-size: 15px 16px;
                            opacity: 0.6;

                        }
                    }
                }
                .gamePlay {
                    transition: 0.3s;
                    position: absolute;
                    bottom: calc((var(--gamePlayBarH) * -1));
                    opacity: 0;
                    height: var(--gamePlayBarH);
                    line-height: var(--gamePlayBarH);
                    width: 100%;
                    background-color: var(--gameInfoBarBgColor);                    
                    z-index: 20;  
                    display: grid;
                    grid-template-columns:auto auto;    

                    a{
                        display: inline-block;                       
                        text-align: center;
                        color: var(--gamePlayButtonsTextColor);
                        font-family: $generalFont;
                        font-size: var(--gameInfoFontSize);
                        font-weight: var(--gameInfoFontWeight);

                        &:last-child{
                            background-color: var(--gamePlayPlayButtonColor);
                        }
                       
                    }

                }
            }
        }
    }
}
